<div class="card text-center">
    <ul class="list-inline" style="margin-left: 0;">
        <li>
            <a target="_blank" href="https://github.com/zhaoxiaowu">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://www.zhihu.com/people/wu-hong-yun-26">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa  fa-stack-1x fa-inverse">知</i>
          </span>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://weibo.com/5632998129">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
          </span>
            </a>
        </li>
    </ul>
</div>